MONGODB_HOST=cluster0.2aqmhde.mongodb.net
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_USER_DATABASE=COMP2800-PROJECT
MONGODB_SESSION_DATABASE=COMP2800-PROJECT
MONGODB_SESSION_SECRET=alongstring
NODE_SESSION_SECRET=alongstring
PORT=3000
GEMINI_API_KEY=
UNSPLASH_ACCESS_KEY=
