MONGODB_HOST=cluster0.2aqmhde.mongodb.net
MONGODB_USER=username
MONGODB_PASSWORD=password
MONGODB_USER_DATABASE=COMP2800-PROJECT
MONGODB_SESSION_DATABASE=COMP2800-PROJECT
MONGODB_SESSION_SECRET=sessiondb-secret-key
NODE_SESSION_SECRET=node-secret-key
PORT=3000