MONGODB_HOST=cluster0.2aqmhde.mongodb.net
MONGODB_USER=shivikakapoor
MONGODB_PASSWORD=shivikakapoorcomp2800
MONGODB_USER_DATABASE=COMP2800-PROJECT
MONGODB_SESSION_DATABASE=COMP2800-PROJECT
MONGODB_SESSION_SECRET=5d2676a7-b264-4ee5-a13f-ebfef170adb8
NODE_SESSION_SECRET=cb35f7e7-91e7-4289-8828-4b67ed8bd96b
PORT=3000